* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background: red;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(26, 228, 117, 0.5), rgba(9, 224, 74, 0.5)), url(best.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 8%;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;

}

nav .logo {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 50px;
    right: 78%;
    margin-top: 10px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;

}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    color: navajowhite;
    font-size: 40px;
}

.text-box h1 span {
    color: aqua;
    letter-spacing: 1px;

}

.text-box p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #fff;
    margin-top: 20px;
    padding: 12px;
    border-radius: 20%;
    padding: 12px 34px;
    font-size: larger;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: beige;

}

.btn:hover {
    border: 1px solid #769e07;
    background: yellow;
    transition: 0.8s;
    color: black;
}

nav .close {
    display: none;
}

nav .menu {
    display: none;
}

@media only screen and (max-width: 1080px) {
    .text-box h1 {
        color: navajowhite;
        font-size: 30px;
    }

    * {
        font-size: 24px;
        zoom: 100%;
    }

    nav .menu {
        display: inline-block;
        padding-left: 68%;
        padding-right: 5px;
        height: 50px;
        cursor: pointer;
    }

    .nav-links ul li {
        font-size: 40px;
        display: block;
    }


    .nav-links {
        position: absolute;
        display: block;
        background: #f44336;
        height: 100vh;
        width: 100%;
        top: -2040px;
        right: 0px;
        text-align: center;
        z-index: 1;
        transition: 1s ease-in-out;

    }

    nav .close {
        display: block;
        margin: 10px 49%;
        font-size: 22px;
        cursor: pointer;

    }

    .nav-links ul li {
        padding: 30px;
    }


}

.about-us {
    background: black;
}

.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    min-height: 100vh;
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: 600;
}

.about .text-about {

    background-color: rgb(84 83 98);
    color: rgb(169, 248, 21);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.services {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    min-height: 100vh;
}

.services h1 {
    color: black;

}

.pass-type {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}

.pass {
    width: 220px;
    height: 250px;
    background-color: burlywood;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    color: navy;
}

.pass-type p {
    padding-top: 2px;
}

.pass:hover {
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    opacity: 80%;
}

@media only screen and (max-width: 1080px) {
    .pass-type {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-about {
        margin-top: 20px;
    }
}

.main-gal {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-gal .gallary img {
    width: 150px;
    height: 180px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.gallary {
    float: left;
    margin-right: 40px;
}

.gallary h3 {
    color: goldenrod;
    margin-top: 5px;
    text-align: center;
}

@media only screen and (max-width: 1080px) {
    .main-gal {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .about-us {
        min-height: 160vh;
    }

    .gallary {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .main-gal {
        margin-top: 10px;
    }

}

.contact {
    background: linear-gradient(45deg, black, black);
    width: 100%;
    min-height: 100vh;
}

.contact h1 {
    text-align: center;
    padding-top: 40px;
}

.form {
    margin-top: 40px;
    text-align: center;

}

label {
    color: #fff;
    text-align: center;
}

input {
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 30px;
}

textarea {
    width: 240px;
    height: 80px;
    margin-left: 10px;

}


button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: #769e07;
    border-radius: 10px;
}

button:hover {
    letter-spacing: 1px;
    border: 2px solid yellow;
    background-color: lime;
}

.social {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.social .fa {
    color: #fff;
    margin-left: 40px;
    text-align: center;


}

.social a {
    text-decoration: none;
}

.fa:hover {
    color: yellowgreen;
}

.contact p {
    margin-top: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
